@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Space+Mono&display=swap');
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: 50%;
    color: white;
}

.countDown{
	display: flex;
	gap: 100px; 
	margin-top: 2rem;
	font-family: var(--text);
}
.countDown > div > h4{
	font-size: 3rem;
}

@media (max-width:600px){
    .countDown{
        gap: 20px; 
    }
    .countDown > div > h4{
        font-size: 2rem;
    }
}